.container{
    margin: 50px 0;
}

.card1{
    margin: 0 2% !important;
    background-color: blue !important;
    color: white !important;

}.card2{
    margin: 0 2% !important;
    background-color: green !important;
    color: white !important;


}.card3{
    margin: 0 2% !important;
    background-color: red !important;
    color: white !important;


}
/* @media(max-width: 770px){
    .card1,.card2,.card3{
        margin: 4% 0 !important;
        width: 80%;
    }
} */

/* @media(max-width: 940px){
    .card3{
        margin: 0 50% !important;
       
    }
} */
/* @media(max-width: 770px){
    .card1{
        margin: 0 50% !important;
       
    }
}
@media(max-width: 770px){
    .card2{
        margin: 0 50% !important;
       
    }
} */ 