body{
    background-color: white
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.image{
    height: 250px;
    margin-top: 20px;
}
.cpicker{
    align-items: center;
}

@media(max-width: 770px){
    .container{
        margin: 0 10px;
    }
    .image{
        width: 100%;
    }
    .cpicker{
        margin: 0 10px;
    }
}